* {
    text-align: center;
}

header {
    background-color: #FF5722;
    padding: 30px;
    color: white;
}

main {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding-bottom: 50px;
}

.text-orange {
    color: #FF5722;
}

.w-45 {
    width: 45%;
    margin: 2px;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 0;
}